ion-calendar {

  .calendar-row {

    .calendar-col {
      padding: 0px;
      margin: 5px;

      button {
        height: 3.3em;
      }
    }
  }

  .calendar-week-day {
    max-width: 15%;
    color: #666;
    font-size: 14px;
  }

  .calendar-day {
    font-size: 1.3em;
  }

  .selected {
    background-color: #f45e3b !important;
    color: white !important;
  }

  .hasEvents {
    border-bottom: 2px solid #f45e3b;
  }

  .selectedMonthLabel {
    text-transform: capitalize;
    margin-bottom: 0px;
  }
  .calendar-container {
    .grid {
      .selectedMonthLabel {
        margin-top: 0;
      }
      padding: 0;
      &:nth-child(1) {
        .calendar-controls {
          .selectedDateLabel h5 {
            line-height: 45px;
            font-size: 15px;
            color: #666;
          }
          .col {
            padding: 0;
            button {
              margin: 0;
            }
            ion-icon {
              color: #666;
              font-size: 20px;
            }
            &:first-child {
            }
          }
        }
      }
      &:nth-child(2) {
        .row {
          .col {
            margin: 0;
            border-top: 1px solid #e5e5e5;
            border-left: 1px solid #e5e5e5;
            button {
              color: #999;
              font-size: 12px;
              margin: 0;
              border-radius: 0;
            }
            &:last-child {
              border-right: 1px solid #e5e5e5;
            }
          }
          &:last-child {
            .col {
              border-bottom: 1px solid #e5e5e5;
            }
          }
        }
      }
    }
  }
}
