page-fast-loan-apply-info-preview {
  .content-title {
    padding-left: 12px;
    font-weight: normal;
  }
  .btn-box {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px 0;
    background-color: #fff;
    z-index: 10;
  }
}
