page-daily-loan-choose-merchant {
  .content {
    position: relative;
    background-color: #efeff4;
    .submit-btn {
      margin-top: 40%;
    }
  }
  .footer {
    .toolbar {
      min-height: 66px;
    }
    .title {
      padding: 0
    }
    .apply-btn-box {
      background-color: #efeff4;
    }
  }
}