page-about-allinpay {
  ion-card {
    ion-card-header {
      border-bottom: 1px solid #e5e5e5;
      padding-left: 15px;
      padding-top: 20px;
      padding-bottom: 18px;
      img {
        width: 140px;
      }
    }
    ion-card-content {
      padding-top: 15px !important;
      & > p {
        line-height: 24px;
        font-size: 12px;
      }
      .qr-code {
        @include flex-box;
        @include align-items();
        @include flex-direction();
        margin-top: 35px;
        ion-row {
          @include flex-direction();
          @include align-items();
          &:nth-child(2) {
            margin-top: 45px;
          }
          img {
            height: 100px;
            width: 100px;
          }
        }
      }
    }
  }
}